/* Global CSS Variables
   example on how to use:  background-color: var(--purple);   */
:root {
  --purple-dark: #3c0680; /* Global Header & Footer*/
  --purple: #4b08a1; /* h1-h5 */
  --grey: #f1f2f3; /* Call-out blocks, caption background */
  --black: #000000; /* Body Text */
}

h1 {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 67px;
  color: var(--purple);
  line-height: 0.88;
}

h2 {
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: var(--purple);
  line-height: 1.11;
}

h3 {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: var(--purple);
  line-height: 1.125;
}

h4 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--purple);
  line-height: 1.5;
}

h5 {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--purple);
  line-height: 1.437;
}

p {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
  line-height: 1.5;
}

iframe {
  box-shadow: 5px 5px 5px #888;
}

/* Navigation Bar CSS */
* {
  box-sizing: border-box;
  margin: 0;
}
.navbar {
  width: 100%;
  background-color: var(--purple-dark);
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four links of equal widths */
  text-align: center;
  font-family: "poppins", sans-serif;
}

.navbar a:hover {
  text-decoration: underline;
}

/* .navbar a.active {
  background-color: #04aa6d;
} */

/* End of Navigation Bar CSS */

.bodyInformation {
  padding: 5px;
  margin: auto;
  margin-top: 2px;
  background-color: white;
  font-family: Arial;
  border: 1px solid;
  width: 97%;
  padding: 10px;
}

body {
  background-color: rgb(169, 169, 169);
}

/* Adding Responsiveness */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }

  .bodyInformation {
    width: 99%;
  }
}
