/* Global CSS Variables
   example on how to use:  background-color: var(--purple);   */
:root {
  --purple-dark: #3c0680; /* Global Header & Footer*/
  --purple: #4b08a1; /* h1-h5 */
  --grey: #f1f2f3; /* Call-out blocks, caption background */
  --black: #000000; /* Body Text */
}

h1 {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 67px;
  color: var(--purple);
  line-height: 0.88;
  text-align: center;
}

h2 {
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: var(--purple);
  line-height: 1.11;
}

h3 {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: var(--purple);
  line-height: 1.125;
}

h4 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--purple);
  line-height: 1.5;
}

h5 {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--purple);
  line-height: 1.437;
}

p {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
  line-height: 1.5;
}
/* End of Global CSS Variables and Global CSS Styling*/

* {
  margin: 0;
}

body {
  background-color: #f7f7f7;
  font-family: "Poppins", sans-serif;
}

/* Navigation Bar CSS */
/* Importing Sans Serif font for X button */
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.5em;
} */

html {
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

header {
  background-color: #3c0680;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}
header .wrapper2 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
header .logo img {
  height: 50px;
  display: block;
}

.arboretumText p {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.navbar {
  position: fixed;
  top: 0;
  left: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #3c0680;
  padding: 20px;
  transition: left 0.3s;
}

.navbar.show {
  left: 0 !important;
}

.hide-scroll {
  overflow: hidden;
}

.navbar ul {
  all: unset;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.navbar ul a {
  all: unset;
  color: white;
  cursor: pointer;
  font-size: 28px;
}
.navbar ul a:hover {
  text-decoration: underline;
}

.close-nav {
  text-align: right;
  margin-bottom: 20px;
}
.close-nav button {
  all: unset;
  background: #f7f7f7;
  font-size: 42px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 3px;
  color: black;
  font-family: "Open Sans", sans-serif;
}
.close-nav button:hover {
  color: #3c0680;
  background: white;
}

.menu-bar button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f7f7f7;
  height: 50px;
  width: 50px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}
.menu-bar i {
  display: block;
  border-top: 3px solid #444444;
  border-bottom: 3px solid #444444;
}
.menu-bar i::after {
  display: block;
  content: "";
  border-top: 3px solid #444444;
  margin: 6px 0;
}
.menu-bar button:hover {
  background: white;
}
.menu-bar button:hover i {
  border-color: #3c0680;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

/*.map{
  display: flex;
  justify-content: center;
}
*/
.map {
  overflow: hidden;

  padding-bottom: 56.25%;

  position: relative;

  height: 0;
}

.map iframe {
  left: 50px;

  right: 40px;

  top: 0;

  height: 60%;

  width: 90%;

  position: absolute;
}

@media (min-width: 800px) {
  .navbar {
    all: unset;
    display: block;
  }
  .navbar ul {
    flex-direction: row;
    gap: 20px;
  }
  .navbar ul a {
    font-size: inherit;
  }
  .close-nav,
  .menu-bar {
    display: none;
  }
}
/* End of Navigation Bar Menu */
