/* Global CSS Variables
   example on how to use:  background-color: var(--purple);   */
:root {
  --purple-dark: #3c0680; /* Global Header & Footer*/
  --purple: #4b08a1; /* h1-h5 */
  --grey: #f1f2f3; /* Call-out blocks, caption background */
  --black: #000000; /* Body Text */
}

h1 {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 67px;
  color: var(--purple);
  line-height: 0.88;
}

h2 {
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: var(--purple);
  line-height: 1.11;
}

h3 {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: var(--purple);
  line-height: 1.125;
}

h4 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--purple);
  line-height: 1.5;
}

h5 {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--purple);
  line-height: 1.437;
}

p {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
  line-height: 1.5;
}

iframe {
  box-shadow: 5px 5px 5px #888;
}

/* Navigation Bar CSS */
* {
  /* box-sizing: border-box; */
  margin: 0;
}

.bodyInformation {
  padding: 5px;
  margin: auto;
  margin-top: 2px;
  background-color: white;
  font-family: Arial;
  border: 1px solid;
  width: 97%;
  padding: 10px;
}

body {
  background-color: rgb(169, 169, 169);
}

/* .navbar {
  width: 100%;
  background-color: var(--purple-dark);
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  text-align: center;
  font-family: "poppins", sans-serif;
}

.navbar a:hover {
  text-decoration: underline;
} */

/* .navbar a.active {
  background-color: #04aa6d;
} */

/* header */

.header {
  background-color: var(--purple);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--purple);
}

.header li a {
  display: block;
  padding: 20px 20px;
  /* border-right: 1px solid #f4f4f4; */
  text-decoration: none;
  color: white;
  font-family: "poppins", sans-serif;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: var(--purple-dark);
}

/* .header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
} */

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 25px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
